<input id="checkout_firstname" type="text" autocomplete="off" placeholder="Имя">
<input id="checkout_lastname" type="text" autocomplete="off" placeholder="Фамилия">
<input id="checkout_phone" type="text" autocomplete="off" placeholder="Телефон">
<div class="payment_change">
  <label><input class="ship_method" type='radio' name='ship_method' value=1>Наличные</label>
  <label><input class='ship_method' type='radio' name='ship_method' checked='checked' value=0>Предоплата</label>
</div>
<div class="ui-widget">
  <input id="checkout_place" type="text" autocomplete="off" placeholder="Населенный пункт">
</div>
<input id="checkout_save" type="button" value="Сохранить">